.logo img {
    padding-top: 9px;
    height: 35px;
    padding-left: 9px;
    position: fixed;
    top: 5px;
}

header::before {
    content: "";
    background: url(img/main.jpg) no-repeat center;
    background-size: cover;
    position: absolute;
    width: 104%;
    height: 62%;
    z-index: -1;
    opacity: 0.5;
}

header {
    display: flex;
    flex-direction: row;
    padding-top: 1px;
    width: 397px;
}
nav {
    margin: 1px;
    padding-left: 16px;
}

li a {
    padding: 3px 15px;
    text-decoration: none;
    font-size: 13px;
    color: white;
    z-index: 1;
}
#main {
    width: 389px;
    height: 468px;
    margin: 7px;
}
#main h1 {
    padding-top: 83px;
    color: white;
    font-size: 25px;
    word-spacing: 3px;
    margin: auto auto;
    padding-left: 8px;
}
#main p {
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-top: 51px;
    font-size: 12px;
    word-spacing: 1px;
    line-height: 22px;
    padding-left: 14px;
    margin: auto auto;
}
.us {
    display: flex;
    flex-direction: row;
    color: white;
    height: 76%;
}
.us::before {
    content: "";
    background: url(img/about3.jpg) no-repeat center;
    background-size: cover;
    position: absolute;
    width: 102%;
    height: 59%;
    z-index: -1;
    opacity: 0.3;
}
.us h1 {
    padding-top: 23px;
    word-spacing: 5px;
    padding-left: 53px;
    font-size: 20px;
}
#about {
    padding-left: 27px;
    height: 416px;
    width: 306px;
    padding-top: 8px;
}
#about p {
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-top: 1px;
    font-size: 10px;
    word-spacing: 1px;
    line-height: 22px;
    padding: 1px 6px;
    width: 174px;
    height: 389px;
}
.equip::before {
    content: "";
    background: url(img/equip5.jpg) no-repeat center;
    background-size: cover;
    position: absolute;
    width: 99%;
    height: 64%;
    z-index: -1;
    opacity: 0.8;
}
.equip h1 {
    padding-top: 65px;
    word-spacing: 4px;
    padding-right: 15px;
    font-size: 20px;
}
#equ {
    width: 300px;
    height: 473px;
    padding-left: 141px;
}
#equ p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    word-spacing: 3px;
    line-height: 22px;
    padding: 0px 1px;
    width: 243px;
    height: 528px;
}
.join::before {
    content: "";
    background: url(img/hand2.jpg) no-repeat center;
    background-size: cover;
    position: absolute;
    width: 101%;
    height: 70%;
    z-index: -1;
    opacity: 0.2;
}
.join h1 {
    padding-top: 56px;
    font-size: 23px;
}

.entry {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    width: 260px;
    height: 343px;
    padding-top: 24px;
    text-align: center;
}
.form {
    padding: 15px;
    size: 9px;
}
input {
    width: 219px;
    height: 25px;
    border-radius: 5px;
}
.btn {
    color: white;
    font-size: large;
    padding: 10px;
    margin: auto;
    width: 159px;
    text-decoration: none;
    background-color: black;
}
